.arrangement__field {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 500px;
  height: 500px;
  background-color: #00000080;
  border-radius: 5px;
  position: relative;
}