.ship__arrangement__page {
  display: grid;
  place-items: center;
  height: 100vh;

  h1 {
    font-size: 32px;
  }

  button {
    width: 160px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px 1px #ffffff80;
    }

    &:active {
      box-shadow: none;
    }
  }
}