.ship__arrangement__page {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 30px;
  height: 100vh;

  h1 {
    font-size: 32px;
  }

  .refresh {
    width: 25px;
    height: 25px;
    background: url(../../assets/img/svg/refresh.svg) no-repeat center;
    background-size: 100%;
    cursor: pointer;

    &:active {
      background-size: 95%;
    }
  }

  button {
    width: 140px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px 1px #ffffff80;
    }

    &:active {
      box-shadow: none;
    }
  }
}