.player__ship__list {
  display: grid;
  grid-template: repeat(1fr, 10) / 1fr;
  padding: 20px;
  
  .player__ship__list__flagship {
    background: url(../../assets/img/ships/flagship.png) no-repeat left;
    background-size: 100%;
  }
  
  .player__ship__list__battleship {
    background: url(../../assets/img/ships/battleship.png) no-repeat left;
    background-size: 75%;
  }
  
  .player__ship__list__cruiser {
    background: url(../../assets/img/ships/cruiser.png) no-repeat left;
    background-size: 50%;
  }
  
  .player__ship__list__destroyer {
    background: url(../../assets/img/ships/destroyer.png) no-repeat left;
    background-size: 25%;
  }

  .destroyed {
    transform: translateX(-150%);
    animation: player-destroyed 3s linear 1;

    @keyframes player-destroyed {
      0% { opacity: 0; transform: translateX(0); }
      5% { opacity: 1; }
      10% { opacity: 0; }
      15% { opacity: 1; }
      20% { opacity: 0; }
      25% { opacity: 1; transform: translateX(0); }
      100% {transform: translateX(-150%); }
    }
  }
}