.battle__result__page {
  display: grid;
  place-items: center;
  gap: 20px;
  height: 100vh;

  h1 {
    font-size: 48px;
  }

  button {
    width: 140px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px 1px #ffffff80;
    }

    &:active {
      box-shadow: none;
    }
  }
}