.flagship, .battleship, .cruiser, .destroyer {
  height: 50px;
  position: absolute;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.flagship {
  width: 200px;
  background: url(../../assets/img/ships/flagship.png) no-repeat center;
  background-size: 100%;
}

.battleship {
  width: 150px;
  background: url(../../assets/img/ships/battleship.png) no-repeat center;
  background-size: 100%;
}

.cruiser {
  width: 100px;
  background: url(../../assets/img/ships/cruiser.png) no-repeat center;
  background-size: 100%;
}

.destroyer {
  width: 50px;
  background: url(../../assets/img/ships/destroyer.png) no-repeat center;
  background-size: 100%;
}