.enemy__ship__list {
  display: grid;
  grid-template: repeat(1fr, 10) / 1fr;
  padding: 20px;
  
  .enemy__ship__list__flagship {
    background: url(../../assets/img/ships/flagship-enemy.png) no-repeat right;
    background-size: 100%;
  }
  
  .enemy__ship__list__battleship {
    background: url(../../assets/img/ships/battleship-enemy.png) no-repeat right;
    background-size: 75%;
  }
  
  .enemy__ship__list__cruiser {
    background: url(../../assets/img/ships/cruiser-enemy.png) no-repeat right;
    background-size: 50%;
  }
  
  .enemy__ship__list__destroyer {
    background: url(../../assets/img/ships/destroyer-enemy.png) no-repeat right;
    background-size: 25%;
  }

  .destroyed {
    transform: translateX(150%);
    animation: enemy-destroyed 3s linear 1;

    @keyframes enemy-destroyed {
      0% { opacity: 0; transform: translateX(0); }
      5% { opacity: 1; }
      10% { opacity: 0; }
      15% { opacity: 1; }
      20% { opacity: 0; }
      25% { opacity: 1; transform: translateX(0); }
      100% {transform: translateX(150%); }
    }
  }
}